@import url('https://fonts.googleapis.com/css?family=Archivo+Black|PT+Sans');
h1,h2,h3,li{
font-family: 'Archivo Black', sans-serif;
padding:20px;
text-align: center;
}

p{
font-family: 'PT Sans', sans-serif;
padding: 10px;

margin-left: 50px;
margin-right: 50px;
}
li a{
text-decoration: none;
color:grey;
}
ol{
list-style: none;

}
body{
background-image: url(main.png);

}
